@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Ultra&display=swap');

// font-family: 'Arvo', serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Ultra', serif;

$space-cadet: #29375aff;
$blue-yonder: #4c78a4ff;
$metallic-sunburst: #a17d3bff;
$up-maroon: #7b0e14ff;
$grey-light: #a4a9b5ff;